certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
dotenv==0.9.9
greenlet==3.2.3
idna==3.10
numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
pycparser==2.22
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
python-dotenv==1.1.1
pyzbar==0.1.9
qrcode-artistic==3.0.2
requests==2.32.4
segno==1.6.6
shiboken6==6.9.1
SQLAlchemy==2.0.41
stripe==12.3.0
typing_extensions==4.14.0
urllib3==2.5.0
